body {
	background: url(../images/Sports.png) 0 0;
	font-family: garamond;
}

.title {
	margin: 15px 0 10px 0;
	font-size: 18px;
	font-family: helvetica;
}

h2 {
	font-family: garamond;
	font-size: 35px;
	color: #1b92fa;
}

p {
	font-size: 20px;
	line-height: 15px;
	margin: 15px 0 10px 0;
	color: #329eff;
}

.sport {
	margin: 10px 5px;
	padding: 5px;
	background: #fff;
	color:#2993e4;

	background-color: transparent;
	border-radius: 5px;
}

#sport-form {
	margin-top: 10px;
}

#add-sport {
	margin-top: 15px;
	background: #329eff;
	color:#fff;
}

#sport-input {
	background: #ace2ff;
};
